# Dependencies
node_modules/

# Builds
dist/
build/

# Environment variables
.env
.env.*

# Allow environment examples
!.env.example

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/
.DS_Store
Thumbs.db